.actions-section {
    background:$light-blue;
    padding: $l-size 0;
    padding-bottom: $m-size;

}

.actions-section__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $m-size 0;
}

.actions-section__img {
    height: 70px;
   margin: 0 auto;
   display: block;
}

.actions-section__link {
    font-family: 'Sawarabi Gothic', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: $blue;
    h3 {
        margin-top: 0;
        
    } 

}

.actions-section__background {
    
    
    border-radius: 100%;
    text-align: center;
   
}