.actions-section {
    background: $light-yellow;
    padding-top: 30px;
    padding-bottom: 50px;
    @media (max-width: $desktop-breakpoint) {
        padding: $s-size 0;
    }
    color: white;
    
}

.actions-section__wrapper {
    @media (min-width: $desktop-breakpoint) {
        display: flex;
    justify-content: space-around;
    }
    @media (max-width: $desktop-breakpoint) {
        text-align: center;
    }
    align-items: center;
    padding: $m-size 0;
}

.actions-section__img {
    height: 70px;
   margin: 0 auto;
   display: block;
   @media (max-width: $desktop-breakpoint) {
    height: 50px;
}

}

.actions-section__link {
    font-family: 'Sawarabi Gothic', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: $dark-blue;
    h3 {
        margin-top: 0;
        
    } 
    @media (max-width: $desktop-breakpoint) {
        padding: 20px;
        
    }
}
.actions-section__link:hover .actions-section__img {
    transform: rotateZ(20deg);
}

.actions-section__background {
    border-radius: 100%;
    text-align: center;
}

.actions-section__text {
    font-family: 'Laila', serif;
    @media (max-width: $desktop-breakpoint) {
        font-size: 1.8rem;
    }
}
   
