.button {
    margin-top: 75px;
    background: $blue;
    color: white;
    border: none;
    padding: $m-size;
    font-weight: 300;
    font-size: $font-size-large;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.button--link {
    background: none;
    margin-top: 0;
    
}

.button--signup {
    margin-top: 7px;
}



.button--form {
    margin-top:15px;
    border-radius: 40px;
    background: $yellow;
    color: rgb(10, 10, 102);
    font-family: 'helvetica', sans-serif;
    font-weight: 900;
    
}

.button--secondary {
    background: #888;
    border-radius: 40px;
    margin-top:0;
    font-weight: 500;
}