.button {
    margin-top: 30px;
    background: $blue;
    color: white;
    border: none;
    padding: $m-size;
    font-weight: 300;
    font-size: $font-size-large;
    font-family: 'Sawarabi Gothic', sans-serif;
    @media (max-width: $desktop-breakpoint) {
        margin-top:20px;
    }
}

.button--link {
    background: none;
    margin-top: 0;
    
}

.button--signup {
    margin-top: 7px;
    border-radius: 40px;
    width: 29rem;
}



.button--form {
    margin-top:15px;
    border-radius: 40px;
    background: $yellow;
    color: $dark-blue;
    font-family: 'helvetica', sans-serif;
    font-weight: 900;
    
}

.button--secondary {
    background: #888;
    border-radius: 40px;
    margin-top:0;
    font-weight: 500;
}

.button-movie {
    color: $dark-blue;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 40px;
}

.button-friend {
    color: $dark-blue;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 40px;
    padding: 5px 10px;
}

.button--add-friend {

    height: 50px;
    margin-bottom: 5px;
    font-size: 1.7rem;
    @media (max-width: $desktop-breakpoint) {
        margin-bottom:0;
    }
}

.button--recommend-friend {
    @extend .button;
    margin-top: 10px;
}
.new-message {
    margin-bottom: 40px;
}

.button-friend--message {
    @extend .button-friend;
    color:white;
    font-weight: 300;
    margin-top: 9px;
}
.flex {
    display: flex;
}
.finish-send {
    text-align: center;
    margin: 60px 0;
}
.button-open-review{
    background: $card-data;
}
.button-watchlist{
    border-radius: 7px;
    background: $card-data;
    border: $card-data;
}
.button-more-movies{
    background: $card-data;  
}
.more-movies-button-div{
    text-align: center;
    padding-top: 40px;
}

.login-button{
    margin-left: 10px;
    margin-right: 10px;
}

.login-button--email{
    @extend .login-button;
    background-color: $yellow;
    color: $dark-blue;
    font-weight: 600;
}