.button {
    margin-top: 75px;
    background: $blue;
    color: white;
    border: none;
    padding: $m-size;
    font-weight: 300;
    font-size: $font-size-large;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.button--link {
    background: none;
    margin-top: 0;
    
}

.button--signup {
    margin-top: 7px;
    border-radius: 40px;
    width: 29rem;
}



.button--form {
    margin-top:15px;
    border-radius: 40px;
    background: $yellow;
    color: $dark-blue;
    font-family: 'helvetica', sans-serif;
    font-weight: 900;
    
}

.button--secondary {
    background: #888;
    border-radius: 40px;
    margin-top:0;
    font-weight: 500;
}

.button-movie {
    color: $dark-blue;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 40px;
}

.button-friend {
    color: $dark-blue;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 40px;
    padding: 5px 10px;
}

.button--add-friend {

    height: 50px;
    margin-bottom: 5px;
    font-size: 1.7rem;
}

.button--recommend-friend {
    @extend .button;
    margin-top: 10px;
}
.new-message {
    margin-bottom: 40px;
}