.custom-card {
    width: 38rem;
    margin: 10px 0;
}

.custom-card__card-content {
    
    padding: 15px 10px;
}

.custom-card-header{
    background: $blue;
    color: white;
}

.custom-card--friend{
    @extend .custom-card;
    width: 50rem;
    margin: 50px 0;
}