.custom-card {
    width: 38rem;
    margin: 30px 0;
 
}

.custom-card__card-content {
    
    padding: 0 0 8px 0;
    
}

.custom-card-header{
    background: $dark-blue;
    color: $offwhite;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}

.custom-card--friend{
    @extend .custom-card;
    width: 40rem;
    margin: 50px 0;
  
}

.custom-card-header__envelop-and-header{
    display:flex;
}

.cusom-card__card-add-review {
    display: flex;
    
}
.custom-card__add-to-watch-list {
    margin: 15px 0;
    display: flex;
    color: $nesquik-light-blue;
}

.custom-card__quick-review-section{
    padding-top: 20px;
}
.custom-card__edit-section {
    display: flex;
    justify-content: space-between;
}

.custom-card__footer  {
    
    
    border-top: 1px solid $card-footer;
}