.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;        
    }
}

.form__message {
    margin: 0 0 $m-size 0;
}

.add-or-edit{
    background-color: $light-yellow;
    padding: 50px 0;
}
.form__image {
    width: 30%;
    margin: 0 auto;
}