.friends {
   background: $light-yellow; 
   padding-bottom:100px;
   
}
.friends__subtitle {
    color: $blue;
    margin-top: 40px;
}
.friends__message{
    color: $nesquik-light-blue;
}
.friends__error {
    color: $nesquik-light-blue;
}

.friends__right-div{
    padding-top: 200px;
}
.friends__filters{
    text-align: center;
}
.friends__search-label{
    color: $nesquik-light-blue;
}
.friend__add-friend-section{
    @media (max-width: $desktop-breakpoint) {
        text-align: center;
        display: flex;
        width: 100%;
        padding: 40px 0;
    }
}