.friends {
    
}
.friends__subtitle {
    color: $blue;
    margin-top: 40px;
}
.friends__message{
    color: $nesquik-light-blue;
}
.friends__error {
    color: $nesquik-light-blue;
}

.friends__right-div{
    padding-top: 200px;
}