.genres-checkbox {
    @media(min-width: $desktop-breakpoint) {
        margin-bottom: 5px;
        width: 595px;
    }
   @media(max-width: $desktop-breakpoint) {
       min-width: 218px;
       max-width: 90%;
    margin-bottom: 2px;
}
}
.genres-checkbox-container{
   display: flex;
   justify-content: center;
}