.genres-checkbox {
    @media(min-width: $desktop-breakpoint) {
        margin-bottom: 5px;
        width:100%;
    }
   @media(max-width: $desktop-breakpoint) {
    width: 80%;
    margin: 0 auto $m-size auto ;
}
}
