.genres-checkbox {
    @media(min-width: $desktop-breakpoint) {
        width:590px;
        margin-right: $s-size;
        margin-bottom: 5px;
    }
   @media(max-width: $desktop-breakpoint) {
    width: 220px;
    margin-bottom: 2px;
}
}
.genres-checkbox-container{
   display: flex;
   justify-content: center;
}