.header {
    background: $blue;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}
.header__title {
    color: white;
    text-decoration: none;
    
}

