.header {
    background: $blue;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.header__title {
    color: white;
    text-decoration: none;  
    font-family: 'Sawarabi Gothic', sans-serif;
    display:flex;   
}

.header__active-class {
    color:$yellow;
}
.header {
    :hover {
        color: $yellow;
    }
}
.greeting {
    :hover {
        color: white;
    }
} 
.header__unread-messaged-count {
    margin-left: 7px;
    background: $yellow;
    width: 25px;
    height: 25px;
    text-align: center;
    color: $dark-blue;
    border-radius: 100%;
    font-weight: 700;   
}
.onHoverBlue {
    :hover {
        color: $dark-blue;
    }
}
