.envelop {
    margin-right: 7px;
    color: lightblue;
}

.trash {
    font-size: 2.3rem;
    color: lightgrey;
    cursor: pointer;
}
.backwards {
    cursor: pointer;
    margin: auto;
}
.forward {
    cursor: pointer;
    margin: auto;
}

.display-non{
    display: none;
}