.envelop {
    margin-right: 7px;
    margin-left: 7px;
    color: lightblue;
}

.trash {
    font-size: 2.3rem;
    color: lightgrey;
    cursor: pointer;
}
.backwards {
    cursor: pointer;
    color: lightskyblue;
}
.forward {
    cursor: pointer;
    color: lightskyblue;
}

.display-non{
    display: none;
}
.edit-icon-link{
    color: lightslategrey;
}
.filled-star-icon{
    color: wheat;
    font-size: 1.6rem;
}
.watchlist-icon{
    margin: 0 10px;
}
.share-watchlist-icon{
    margin: 0 5px;
}