.list-heading {
    background: url('/public/images/friends-watching-movie.jpg');
    font-family: 'Sawarabi Gothic', sans-serif;
    background-size: cover;
    height: 700px;
}

.list-heading__text {
    margin-left: 25px;
    padding-top:500px;
    color: white;
}
.list-heading__paragraph{
    margin-left: 30px;
    color:white;
}