.messageCard{
    background: $dark-mode;
    color: $offwhite;
}
.messageCard__see-prev-text {
    color: lightblue;
}
.message-card__buttons-wrapper {
    display: flex;
    justify-content: space-between;
}