.messages {
    background:$light-yellow;
    padding: $l-size 0;
    padding-bottom: 100px;
}
.messages__nav {
    margin-bottom: 30px;
    color: $blue;
    display: flex;
    width: 210px;
    justify-content: space-between;
}
