.colored-section {
    color: white;
  }
  #testimonials {
    background-color: #337ab7;
    height: 500px;
   
  }
  .testemonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  .container-fluid {
  padding: 7% 25%; 
  }
    