.movie-data {
    padding: 0.7rem 3.6rem 0.3rem 3.6rem;
    background: #faf3dd;
    margin-bottom: 15px;
   

}

.movie-data__text {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

.movie-data__sub-text {
    margin-bottom: 1rem;
     font-size: 1.45rem;
     font-family: 'Open Sans', sans-serif;
}