// .colored-section {
//     color: white;
//   }
//   #testimonials {
//     background-color: #337ab7;
//     height: 500px;
   
//   }
//   .testemonial-text {
//     font-size: 3rem;
//     line-height: 1.5;
//   }
//   .container-fluid {
//   padding: 7% 25%; 
//   }
    
.movie-carousel {
  background: $dark-mode;
  color: white;
  text-align: center;
  padding: $l-size;
   
}
.movie-carousel__item {
  height: 300px;
  width: 70%;
  margin: 0 auto;
  @media (max-width: $desktop-breakpoint) {
    height: 280px;
    font-size: 1.3rem;
    width: 75%;
}
}
.movie-carousel__header{
  @media (max-width: $desktop-breakpoint) {
   font-size: 1.7rem;
}
}
.movie-carousel__score{
  @media (max-width: $desktop-breakpoint) {
   font-size: 1.5rem;
}
}
.movie-carousel__content{
  @media (max-width: $desktop-breakpoint) {
   font-size: 1.4rem;
}
}
.movie-carousel-item__movie-image{
  height: 200px;
  @media (max-width: $desktop-breakpoint) {
    height: 150px;
    
}
border-radius: 10px;
}