.movie-card-carousel {
    text-align: center;
    margin: 0 auto;
}
.movie-card-carousel__wrapper-watchlist-button{
    display: inline-block;
   
   margin: 0 auto;
   text-align: center;
    
}
.middle {
    text-align: center;
    margin: 0 auto;
}
.another {
    display: flex;
}
.margin-bottom {
    margin-bottom: 30px;
}
.large-font {
    font-size: 2.2rem;
}