.notifications {
    width: 70%;
    text-align: center;
    margin: 100px auto 0 auto;
    background-color: $nesquik-light-blue;
    padding: $xl-size $l-size;
    border-radius: 30px;
}
.margin {
    margin-top: 100px;
}