.page-header {
    background:$nesquik-light-blue;
    h1{
        margin-top:0;
    }
    color: $dark-blue;
    padding: $l-size 0;
    margin-top: 0;
    
    
}

.page-header__title{
    font-size: 3rem;
    font-weight: 600;
}