.unseen {
    padding: 50px 35px;
    background: $dark-mode;
}
.unseen__img {
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    border: white 1px solid;

}

.unseen__button-div{
    display: flex;
    justify-content: space-between;
}

