.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: 60px;
    }
    @media(max-width: $desktop-breakpoint) {
        margin-bottom: $s-size;
    }
    
   
}

.input-group__item {
    margin-bottom: $s-size;
    @media(min-width: $desktop-breakpoint) {
        margin:0 ;
        width: 31.5%;
    }
}
