* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a:hover {
  text-decoration:none;
}

body {
  margin-top: 60px;
  @media (max-width: $desktop-breakpoint) {
    margin-top: 38px;
}
  color: $dark-grey;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  background: $light-yellow;   
}
.page {
  background: $light-yellow;
}

button, a {
  cursor: pointer;
}
.test {
  text-align: center;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.align-right {
  text-align: right;
  direction: rtl
}
