// Colors
$dark-grey: #333333;
$blue: #061a8df5;
$light-blue: #cff7f577;
$yellow: #f3db00;
$nesquik-light-blue: #337ab7;
$dark-blue:  rgb(10, 10, 102);
$light-yellow: #faf3dd;
$dark-mode: #121212;
$card-data:rgba(255, 255, 255, 0.16);
$card-footer: rgba(255, 255, 255, 0.5);
//Font Size
$font-size-large: 1.7rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
